<html ng-app="" class="ng-scope"><head>
    <title>
      Djds4rce's Home Page
    </title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" async="" src="http://cdn.mxpnl.com/libs/mixpanel-2.0.min.js"></script><script type="text/javascript" src="jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="angular.min.js"></script><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none;}ng\:form{display:block;}</style>
    <script type="text/javascript" src="app.js"></script>
    <!-- start Mixpanel -->
    <script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.0.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==
      typeof f?g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
    mixpanel.init("4e1eb6baad9dc6af4f04bed128960a00");
  </script>
  <!-- end Mixpanel -->
</head>
<body>
  <div id="header" align="center">
    <div id="main-text">Welcome</div>
    <div id="tag-text"> <p><b>My home page, command line style</b> </p><p></p></div>
  </div>
  <div ng-controller="TerminalCtrl" class="ng-scope">
  <div id="stdout">
    <p>Type help for available options</p>
    <div id="stdout-executed">
      <!-- ngRepeat: command in commands --><div ng-repeat="command in commands" class="ng-scope">
        <p class="ng-binding"> daya@interwebs:~/whoami</p> 
        <!-- ngRepeat: out in command.output --><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">Hello there, I am Dayanand aka Djd.</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">I am a web developer, currently working on Ruby on Rails. JavaScript and Linux are my other interests</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">I also love travelling and reading about History and Travel</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">Currently living in Bangalore, India</pre><p></p>
        </div>
      </div><div ng-repeat="command in commands" class="ng-scope">
        <p class="ng-binding"> daya@interwebs:~/hello</p> 
        <!-- ngRepeat: out in command.output --><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">Command not found</pre><p></p>
        </div>
      </div><div ng-repeat="command in commands" class="ng-scope">
        <p class="ng-binding"> daya@interwebs:~/date</p> 
        <!-- ngRepeat: out in command.output --><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">Command not found</pre><p></p>
        </div>
      </div><div ng-repeat="command in commands" class="ng-scope">
        <p class="ng-binding"> daya@interwebs:~/hel</p> 
        <!-- ngRepeat: out in command.output --><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">Command not found</pre><p></p>
        </div>
      </div><div ng-repeat="command in commands" class="ng-scope">
        <p class="ng-binding"> daya@interwebs:~/help</p> 
        <!-- ngRepeat: out in command.output --><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">whoami                   Prints info about me</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">shoutouts                People who helped me in making this page</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">blog/twitter/github      type one of the sites to go to those pages</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">contact                  Prints my email</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">clear                    Clears the output console</pre><p></p>
        </div>
      </div><div ng-repeat="command in commands" class="ng-scope">
        <p class="ng-binding"> daya@interwebs:~/whoami</p> 
        <!-- ngRepeat: out in command.output --><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">Hello there, I am Dayanand aka Djd.</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">I am a web developer, currently working on Ruby on Rails. JavaScript and Linux are my other interests</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">I also love travelling and reading about History and Travel</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">Currently living in Bangalore, India</pre><p></p>
        </div>
      </div><div ng-repeat="command in commands" class="ng-scope">
        <p class="ng-binding"> daya@interwebs:~/shoutouts</p> 
        <!-- ngRepeat: out in command.output --><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">Devadutta Ghat           For the original UI</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">Sandeep                  For the inspirations</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">Vineet(Gampa)            For the laptop</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">Pai Suhas                For always being there</pre><p></p>
        </div><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">Mohsin Khawas            \m/</pre><p></p>
        </div>
      </div><div ng-repeat="command in commands" class="ng-scope">
        <p class="ng-binding"> daya@interwebs:~/contact</p> 
        <!-- ngRepeat: out in command.output --><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">You can mail me at djd4rce(at)gmail.com</pre><p></p>
        </div>
      </div><div ng-repeat="command in commands" class="ng-scope">
        <p class="ng-binding"> daya@interwebs:~/github</p> 
        <!-- ngRepeat: out in command.output --><div ng-repeat="out in command.output" class="ng-scope">
          <p></p><pre class="ng-binding">New tab open with http://github.com/djds4rce</pre><p></p>
        </div>
      </div>
    </div>
  </div>
  <form id="commandin" ng-submit="enter(comm)" class="ng-valid ng-dirty">
    <div id="stdin">daya@interweb:~/<input ng-model="comm" id="in" type="text" class="stdinput ng-valid ng-dirty"></div>
  </form>
</div>



</body></html>
